services:
  src:
    build:
      context: .
      dockerfile: src/Dockerfile
    ports:
      - "8080:8080"
    env_file: .env
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=githubIssues;Username=postgres;Password=${DB_PASSWORD}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
    depends_on:
      - db

  db:
    image: postgres:latest
    env_file: .env
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=postgres
      - POSTGRES_DB=githubIssues
    ports:
      - "5433:5432"